<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../../bootstrap-5.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/email.css">
    <!---<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">-->
    <title>Email</title>
  
</head>

<body>

<!--wrapper-->
<div class="wrapper">
<!--email MSG Header-->
<h2 class="email-msg-header">
  Welcome and thank you for choosing 
 
</h2>
<!--end of email MSG Header-->

<!--company name-->
<div class="company-name">Zuma Bank</div>

<hr>

<!--welcome-->
<p class="welcome-text">
Your account has been successfully registered, please click below to verify your account
</p>

<br>
<br>
<!--verfy-->
<center><a href=""class="verify-account-btn" role="button">Verify account</a></center>

<div class="copy-right">
  &copy; Copy Right 2022.All Rights Reserved
</div>


</div>
<!--end of wrapper-->

</body>
</html>