*{
    box-sizing: border-box;
}
/*Main Body styling*/
body{
    height:100vh;
    background-image: url("/resources/images/Zuma_Bank_Title_Back.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

#sample-text-card{

    margin: 550px 200px 0 150px;
    font-family:PT Sans Regular;
    color:#ffffff;
}

#sample-text-card h1{

    font-size: 40px;
}
#sample-text-card h5{
    font-size: 50px;
}
#sample-text-card p{
    font-size: 30px;
}

.button-wrapper a{

    padding: 20px;
    width: 200px;
    color: aliceblue;
    box-shadow: 0 3px 6px grey;

}

.register{
    margin-right: 7px;
    background-color: #FF4E00;
    border: 1px solid #8B2B00;

}

.login{
    background-color: #FFB114;
    border: 1px solid #543800;
}

.card .form-control{
    margin: 10px 0;
}

#registration-form-card{
    margin: 550px 200px 0 150px;
}